.navbar {
  position: fixed;

  top: 0;

  left: 0;

  width: 100%;

  height: 80px;

  display: flex;

  justify-content: center;

  align-items: center;

  background: rgba(0, 0, 0, 0.5);

  backdrop-filter: blur(10px);

  z-index: 1000;
}

.nav-links {
  display: flex;

  justify-content: center;

  align-items: center;

  gap: 40px;

  list-style: none;

  margin: 0;

  padding: 0;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;

  text-decoration: none;

  font-size: 18px;

  font-weight: 500;

  transition: 0.3s;
}

.nav-links a:hover {
  color: cyan;
}

.menu-icon {
  display: none;
}

@media (max-width: 768px) {

  .navbar {
    justify-content: flex-end;

    padding-right: 30px;
  }

  .menu-icon {
    display: block;

    font-size: 26px;

    color: white;

    cursor: pointer;
  }

  .nav-links {
    position: absolute;

    top: 80px;

    right: -100%;

    flex-direction: column;

    background: #0f172a;

    width: 220px;

    padding: 30px;

    transition: 0.3s;
  }

  .nav-links.active {
    right: 0;
  }

}