.skills {
  padding: 100px 10%;

  background:  linear-gradient(to right, #000000, #0f172a);

  color: white;

  text-align: center;
}

.skills h1 {
  font-size: 55px;

  color: cyan;

  margin-bottom: 20px;
}

.skills-text {
  font-size: 20px;

  color: #d1d5db;

  max-width: 750px;

  margin: auto;

  line-height: 1.8;

  margin-bottom: 50px;
}

.skills-container {
  display: flex;

  justify-content: center;

  align-items: center;

  flex-wrap: wrap;

  gap: 25px;

  margin-top: 50px;
}




.skill-card {
  background: rgba(255, 255, 255, 0.08);

  border: 1px solid rgba(255, 255, 255, 0.1);

  padding: 30px;

  border-radius: 20px;

  backdrop-filter: blur(10px);

  transition: 0.3s;

  font-size: 18px;

  font-weight: 500;

  width: 260px;
}

.skill-card:hover {
  transform: translateY(-10px);

  box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.5);
}

@media (max-width: 768px) {

  .skills h1 {
    font-size: 40px;
  }

  .skills-text {
    font-size: 17px;
  }

  .skill-card {
    width: 100%;
  }

}