#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0; /* தேவையற்ற பேடிங் நீக்கியாச்சு */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* மொபைல் ஆப்டிமைசேஷன் லேயர் */
@media (max-width: 768px) {
  #root {
    padding: 0;
  }
  
  .logo {
    height: 4em;
    padding: 1em;
  }
}